<%- include('../partials/_header'); -%>

<main>
  <h1 class="page-header">Account Login Page</h1>
  <div class="page-content">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium
    facilis nulla voluptate quas, assumenda obcaecati ad unde distinctio.
    Accusamus, illum.
  </div>
</main>

<%- include('../partials/_footer'); -%>
