<%- include('../partials/_header'); -%>

<main>
  <div class="auth-form">
    <form action="" method="POST">
      <h2>Account Login</h2>
      <div class="form-row">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
        <small class="email error-alert">Enter a valid email</small>
      </div>
      <div class="form-row">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
        <small class="password error-alert">Enter a valid password</small>
      </div>
      <button type="submit" class="submit-btn">Login</button>
    </form>

    <div class="auth-links">
      <p>Forget your password? <a href="">Click Here</a></p>
      <p>
        Don't you have an account? <a href="/auth/register">Register Now</a>
      </p>
    </div>
  </div>
</main>

<script>
  const form = document.querySelector("form");

  form.addEventListener("submit", (e) => {
    e.preventDefault();

    // get the data
    const email = form.email.value;
    const password = form.password.value;
    console.log(email, password);
  });
</script>

<%- include('../partials/_footer'); -%>
