<%- include('./partials/_header'); -%>

<main>
  <h1 class="page-header">Home Page</h1>
  <div class="page-content">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, eligendi.
  </div>
</main>

<%- include('./partials/_footer'); -%>
